<div *ngIf="!isLoaded" class="fm-modal-wrapper">
    <div class="fm-modal-content">
        Chargement en cours
    </div>
</div>

<div *ngIf="isLoaded == true">
    <div class="flix-container">

        <ul class="flix-items">
                <li *ngFor='let movie of movies'>
                        <a href="#">
                                <div class="content">
                                        <h2>{{ movie.title }}</h2>
                                </div>
                        </a>
                </li>
        </ul>
    </div>
</div>


